<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
        <title>Blog App</title>
    <body>
       <div class="ui fixed menu">
           <div class="ui container">
                <div class="header item"><i class="code icon"></i>Blog App</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="active item">New Post</a>
                <a href="/blogs/routes" class="item">Routes</a>
                <a href="/" class="item">Contact</a>
           </div>

       </div>
       
       
       
